html {
    box-sizing: border-box;
}

*,
::after,
::before {
    box-sizing: inherit;
}

.navigation {
    list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
   background-color:  rgb(255, 242, 224);
font-size: larger;

}

.navigationCell {
    padding: 10px;
    display: inline-block;
    text-decoration: none;
color: black;
}

.navigationCell:active {
    color: rgb(122, 90, 8);
}

.navigationCell:focus {
    color: rgb(122, 90, 8);
}

.navigationCell:hover {
    color: rgb(122, 90, 8);
}

